:root {
    --pink: hsl(322, 80%, 66%);
    --light-pink: hsla(321, 100%, 78%, 0.8);
    --light-red: hsl(0, 100%, 63%);
    --dark-cyan: hsl(192, 100%, 9%);
    --light-cyan: hsl(190, 57%, 15%);
    --pale-blue: hsl(207, 100%, 98%);
    --gray: hsl(0, 0%, 60%);

    --ff-pop: "Poppins",sans-serif;
    --ff-open: "Open Sans" , sans-serif;
} 

.footer{
    display: flex;
    justify-content: space-around;
    background-color: var(--dark-cyan);
    padding-block: 6rem;
    color: white;
    font-family: var(--ff-open);
    padding-bottom: 0.5rem;
}

.logo-res{
    width: 14rem;
}

.info{
    display: flex;
    align-items: center;
}

.iconb{
    width: 0.8rem;
    border-radius: 0.1rem;
}

.left-up p{
    padding-block: 2rem;
    font-size: 0.8rem;   
    max-width: 17rem;
}

.info img{
    margin-right: 0.6rem;
}

.info p{
    font-size: 0.8rem;
}

.info{
    padding-block: 0.2rem;
}

.icons{
    padding-block: 3.5rem;
}

.bi{
    color: var(--pale-blue);
    margin-inline-end: 1.2rem;
    font-size: 1.4rem;
}

.tw{
    background-color: white;
    color: var(--dark-cyan);
    font-size: 1rem;
    padding: 0.15rem;
    border-radius: 0.2rem;
}

.bi:hover{
    background-color: aqua;
}

.heading h3{
    font-size: 1.2rem;
}

.right p{
    font-size: 0.8rem;
    padding-block: 1rem;
    max-width: 18rem;
}

.right-bot{
    margin-top: 1.5rem;
    align-items: center;
    display: flex;
    /* justify-content: center; */
}

.right-bot input{
    height: 2.4rem;
    border-radius: 0.2rem;
    border: none;
    width: 17rem;
    margin-inline-end: 2rem;
    padding: 0.6rem;
}

input:invalid{
    box-shadow: 0 0 0.1rem 1px red;
}

.subs{
    height: 2.2rem;
    border-radius: 0.2rem;
    background-color: var(--pink);
    border: none;
    padding-inline: 1.8rem;
    color: white;
}

@media only screen and (max-width: 1000px){
    
    .footer{
        flex-direction: column-reverse;
        align-items:stretch;
        padding: 3rem;
    }

    .left{
        margin-top: 4rem;
    }

    .right p{
        max-width: 17rem;
    }

    .right-bot input{
        width: 19rem;
    }

    .subs{
        margin-block: 1rem;
        height: 2.6rem;
        width: 9rem;
        margin-left: 10rem;
        font-size: 1rem;
        /* align-self: right; */
    }

    .logo-res{
        width: 12rem;
    }

    .left-up p{
        font-size: 0.8rem;
         max-width: 18rem; 
    }
}